body {
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    color: #3D3D3D;
    background-color: #E1EDF2;
    padding: 10px;

}

h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;

}

main {
    width: 940px;
    margin: 0 auto;

}

figure {
    background-color: whitesmoke;
    color: lightgrey;
    text-align: center;
    padding: 15px;
    margin: 30px 0; 

}
figcaption {
    padding-top: 10px;
    color: #000;

}


figure img {
    display: block;
    margin: 0 auto;
    max-width: 100%;

}
figure.matriz {
    width: 550px;
    margin: 30px auto;
}

figure.familia {
    width: 275px;
    float: right;
    margin: 0 0 20px 20px; 
}

figure img {
    display: block;
    width: 100%;
    height: auto;
}